/*Colors*/
$white: #fff;
$black: #000;
$primary: #f0141e;

/*Z index*/
$z-index-infra: -1;
$z-index-normal:1;
$z-index-md: 5;
$z-index-lg: 10;
$z-index-super: 15;
$z-index-super-extra: 20;

/*Font family*/
$main-family:'Staatliches', cursive;
$secondary-family: 'Poppins', sans-serif;

/*Font sizes*/
$fs-base: 16px;
$fs-md: 18px; 
$fs-xl: 32px;