@import '../../../assets//stylesheet/variables.scss';

.ui.container.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 56px;

    h1.home-title {
        margin: 32px auto 0 auto;
        font-family: $main-family;
    }
    
    h2.home-subtitle {
        margin: 8px auto 48px auto;
        font-family: $main-family;

        span {
            color: $primary;
            font-family: $main-family;
        }
    }

    .hero {
        margin-bottom: 48px;
    }

    a {
        color: $primary;
    }

    .accordion {
        @media (min-width: 768px) {
            max-width: 600px;
        }
    }
}