.ui.container.section.comics {
    .cards {
        justify-content: center;
    }

    .title {
        margin-bottom: 48px;
        text-align: center;
    }

    .button-group {
        display: flex;
        justify-content: center;
        margin-top: 32px;
    }
}