@import './variables.scss';

* {
    box-sizing: border-box;
}
  
h1, h2, h3, h4, h5, h6 {
    font-family: $main-family;
}
p, span, a, li {
    font-family: $secondary-family;
}

.ui.container.section {
    .title {
        margin: 32px auto 0 auto;
        font-family: $main-family;
    }
}